@charset "UTF-8";

/* 共通部分 */

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

.button {
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background-color: #0090aa;
}

/* モバイル版 */
@media (max-width: 600px) {
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }

  .home-content {
    margin-top: 20%;
  }

  .page-title {
    font-size: 2.5rem;
  }
}

/* ヘッダー */

.page-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}

/* フッター */

footer {
  background-color: #432;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* HOME */

#home {
  background-image: url(../images/main-bg.jpg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}

.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* NEWS */

#news {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;
}
#news .page-title {
  text-align: center;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

article {
  width: 74%;
}
article img {
  margin-bottom: 20px;
}
article p {
  margin-bottom: 1rem;
}

.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-title {
  font-family: "Yu Mincho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title, .post-cat {
  margin-left: 120px;
}

.post-date {
  background-color: #0bd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 1.625rem;
  padding-top: 10px;
  text-align: center;
  position: absolute;
  top: 0;
}
.post-date span {
  border-top: 1px rgba(255,255,255,.5) solid;
  font-size: 1rem;
  padding-top: 6px;
  display: block;
  margin: 0 auto;
  width: 60%;
}

aside {
  width: 22%;
}
aside p {
  padding: 12px 10px;
}

.sub-title {
  font-size: 1.375rem;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
  padding: 0 8px 8px;
}

.sub-menu {
  margin-bottom: 60px;
  list-style: none;
}
.sub-menu li {
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: #432;
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #0bd;
}
